@font-face {
  font-family: "Avenir-Black";
  src: url("assets/fonts/AvenirLTStd-Black.ttf") format("woff2");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "Avenir-Book";
  src: url("assets/fonts/AvenirLTStd-Book.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Avenir-Roman";
  src: url("assets/fonts/AvenirLTStd-Roman.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}

#app {
  min-height: 100%;
}

div {
  font-family: Avenir-Roman !important;
  /* background-color: #f1592a; */
}
.header {
  font-family: Avenir-Book;
}
img {
  max-width: 100%;
}

body {
  margin: 0;
  font-family: Avenir-Roman;
}
a,
p,
span,
label,
input button {
  font-family: Avenir-Roman;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Avenir-Black;
  margin: 0;
}
